<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <table
      class="email-container"
      align="center"
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <tr>
        <td class="image-container" style="padding-bottom: 10px">
          <img src="https://i.ibb.co/vxPJRGLD/logo.png" alt="Logo" />
        </td>
      </tr>
      <tr>
        <td>
          <h1>Hello <span>Cat</span></h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Thank you for signing up! To complete your registration, please
            verify your email address.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="v-code">
            Your verification code is: <strong><%= verificationCode %></strong>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
